{% extends 'base.html.twig' %}



{% block body %}
    <h1>Evenements de la semaine</h1>


         {% for event in eventsList %}

            <div class="event">
                <div class="event-title">
            {{ event.nom }}
                </div>

                <div class="event-picture">
                    {% if event.filename %}
                            <img src="{{ vich_uploader_asset(event, 'imageFile') }}" alt="card-img-top" style="width: 30%; height: auto;">
                        {% endif %}
                </div>
                <div class="event-info">
               Capacité : {{ event.nbPlace }}
                Musique:{{ event.typeDeMusique }}
                {{ event.description }}

                    <a href={{ path('accueil.show', {id: event.id}) }}>Voir plus</a>
                </div>
            </div>

        {% endfor %}

{% endblock %}