{% extends 'base.html.twig' %}

    {% block title %}
        
    {% endblock %}


    {% block body %}
        <div class="container">
            <h1>{{ evenement.nom }}</h1>
            <p>{{ evenement.description }}</p>
            <p>{{ evenement.date|date('Y-m-d') }}</p>
            <p>{{ evenement.duree|date('Y-m-d') }}</p>
            <p>{{ evenement.nbPlace }}</p>
            <p>{{ evenement.typeDeMusique }}</p>

            
            <h1>Photos :</h1>
                <ul>
                    {% for nomPhoto in nomPhotos %}                    
                        <li>{{ nomPhoto }}</li>
                    {% endfor %}
                </ul>

            <h1>Avis :</h1>
                <h2>note :</h2>
                <ul>
                    {% for noteAvis in noteAvis %}                    
                        <li>{{ noteAvis }}</li>
                    {% endfor %}
                </ul>  
                <h2>commentaire :</h2>  
                <ul>
                    {% for commentaireAvis in commentaireAvis %}                    
                        <li>{{ commentaireAvis }}</li>
                    {% endfor %}
                </ul>  


                <!-- Formulaire pour ajouter un avis -->
                <div class="">
                    <!-- Ajout dans la bdd -->
                    {{ form_start(formAvis) }}

                    <!-- Add avis -->
                    {{ form_row(formAvis.note)}}
                    {{ form_row(formAvis.commentaire) }}

                    <!-- Fin add avis -->
                    {{ form_end(formAvis) }}
                </div>
        </div>


    {% endblock %}